@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.app-container {
  max-width: 900px;
  width: 100%;
  margin: 40px auto;
  padding: 16px;
  box-sizing: border-box;
}

.anime {
  opacity: 1;
  transform: translate3d(-100px, 0px, 0px);

  animation: showAnime 0.4s forwards;
}

@keyframes showAnime {
  to {
    opacity: initial;
    transform: initial;
  }
}
